*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height:100vh;
background-color: aqua;
}
.conten{
    background-color: rgb(37, 39, 38);
    height: 100%;
    width: 100%;
}
#primera-secc{
    display: flex;
    height: 25%;
    background-color: aqua;
}
#foto{
    width: 15%;
    height: 100%;
    background-color: rgb(29, 56, 56);
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
img{
    width: 59%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#nombre{
    width: 85%;
    background-image: url(wallpapers-iphone-xr-fondos-de-pantalla-4k-hd-max-apple-ios-nuevos-originales-9\ _\ Imágenes\ Bonitas\ Gratis.jpg);
}
#segunda-secc{
    display: flex;
    height: 74%;
    background-color: blue;
}
#menu{
    width: 15%;
    background-color: aquamarine;
}